
/* home page first page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  list next two each other*/
li{
    display: inline-block;
    padding: 15px;
}
/*  box of content*/
ul{
    background-color:white;
    padding: 10px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    margin-left: 500px;
    margin-right: 500px;

}
a{
    text-decoration:none;
    color: black;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* hover in content */
a:hover{
    color: blueviolet;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url(https://images.unsplash.com/photo-1633298187530-494bcdd92731?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=835&q=80);
    background-position: center;
    background-size: cover;
}

#pic1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
form,
input,
button{
    box-shadow: black;
    border-radius: 100px;
    /* color: white; */
    padding: 3% 10%; 
}

form{
    margin: 100px;
    padding: 0px;
    border-radius: 10px;
    display:inline-flex;
    flex-direction: column;
    gap: none;
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 10px;
    margin-top: 5em;
}