
/* home page first page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  list next two each other*/
li{
    display: inline-block;
    padding: 15px;
}
/*  box of content bar on top*/
ul{
    background-color:white;
    padding: 5px;
    left: 0;
    right: 0;
    top: 0;
    position:fixed;
   
}
a{/*text in bar*/
    text-decoration:none;
    color:black;
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* hover in content */
a:hover{
    color: blueviolet;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-position: center;
    background-size: cover;
}

#pic1{
    height: 500px;
    width: 200px;
    border-radius: 50%;
    position:absolute;
    left: 100px;
    top: 50px;
}
h1 {
    color:blue;
    font-family: verdana;
    font-size: 300%;
  
  }
  p  {
    color: red;
    font-family: courier;
    font-size: 100%;
    margin: 300px;
  }
  
form,
input,
button{
    box-shadow: black;
    border-radius: 100px;
    /* color: white; */
    padding: 3% 10%; 
}

form{
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
    display:inline-flex;
    flex-direction: column;
    gap: none;
}

table{
    border-collapse: collapse;
    width: 400px;
    height: 10px;
    margin-top: 5em;
}

  body{
    background-image: url(background-image.jpg);
  }
  img{
      border-radius: 20%;
  }
  #head{
      margin-top: 30px;
      font-family: sans-serif;
  }
  