* {
  box-sizing: border-box;
}

body {
  background-image: url(background-image.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;

}

/* The actual timeline (the vertical ruler) */

.timeline {
  position: relative;
  max-width: 999px;
  margin: 0 auto;
  z-index: -1;
  
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: gray;
  top: 0;
  bottom: 0;
  margin-bottom: 0px;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: pink;
  border: 4px solid red;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid silver;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent silver;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 2;
  left: 30px;
  border: medium solid silver;
  border-width: 10px 10px 10px 0;
  border-color: transparent silver transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: silver;
  position: relative;
  border-radius: 15px;
  animation-name: scale-in-hor-center ;
  animation-iteration-count:initial;
  animation-duration: 0.9s;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 360px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  h1 {
    margin-top: 135px;
  }


  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
/*  list next two each other*/
li{
  display: inline-block;
  padding: 15px;
}
/*  box of content bar on top*/
ul{
  background-color:white;
  padding: 5px;
  left: 0;
  right: 0;
  top: 0;
  position:fixed;
  margin: 0%;
 
}
a{/*text in bar*/
  text-decoration:none;
  color:black;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* hover in content */
a:hover{
  color: blueviolet;
}
.timeline-head{
  margin-top: 80px;
  text-align: center;
}
.scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-10-12 14:44:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

